p {
    font-size: 1em;
}
.section__my-block img {
    width: 100px;
    display: block;
    margin: auto;    
}
.card-img-top {
    height: 150px;
}
.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: transform 0.55s ease-in-out;
    -moz-transition:transform 0.55s ease-in-out;
    -ms-transition:transform 0.55s ease-in-out;

    -webkit-box-shadow: 0px 0px 0px 5px rgba(233,235,237,0.25);
    -moz-box-shadow: 0px 0px 0px 5px rgba(233,235,237,0.25);
    box-shadow: 0px 0px 0px 5px rgba(233,235,237,0.25);
 
}
.card {
    margin: 12px auto;
}

@media only screen and (min-width: 985px){
    h1 {
        padding: 24px;
        padding-top: 0px;
    }
    .section__my-block img {
        float: right;
        margin-right: 24px;      
    }
    .projects{
        margin: 0 12px;
    }
    .card {
        margin: 12px auto;
        margin
    }
    .footer {        
        left: 0;
        bottom: 0;
        width: 100%;    
        color: white;
        text-align: center;
    }

} 
